/* base.html and it's inheriting files css */

/* Background Video */
#baseWaterBackgroundVideo{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    object-fit: fill;
    opacity: 0.8;
}

.navImage {
    justify-content: center;
    width: 15vw;
}

/* Nav A tag styling */
.navigationBar a:link {
    color: var(--mint-green);
    text-decoration: none;
}

.navigationBar a:visited {
    color: var(--mint-green);
    text-decoration: none;
}

.navigationBar a:focus {
    text-decoration: none;
    font-weight: bold;
    color: var(--indigo-dye);
    background: var(--light-coral);
}

.navigationBar a:hover {
    text-decoration: underline;
    font-weight: bold;
    color: var(--indigo-dye);
    background: var(--light-coral);
    transition: 0.4s;
}

.navigationBar a:active {
    background: var(--light-coral);
    color: var(--mint-green);
    text-decoration: none;
}


/*For when it's full screen*/
.baseContent {
    margin-left: 15vw;
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
    width: 80vw;
    gap: 3%;
    margin-top: 5vh;
    justify-content: flex-start;
    align-items: stretch;
    /*flex-wrap being nowrap means align-content has no effect*/
    align-content: flex-start;
    background: var(--mint-green);
}


.navWrapper .navigationBar {
    top: 0;
    left: 0;
    position: fixed;
    width: 15vw;
    height: 100vh;
    background-color: var(--indigo-dye);
    color: var(--mint-green);
    display: flex;
    flex-direction: column;
    /* Trying to work out if side nav bunched at the top looks better?? */
    /* gap: 5%;
    align-content: space-around;
    justify-content: space-evenly; */
    align-items: stretch;
}

.navigationBar a, p {
    outline: none;
    text-align: center;
    /* width:15vw;
    padding-top: 6vh;
    padding-bottom: 6vh; */
    border-radius: 0.5vw;
    font-family: var(--body-font);
    transition: 0.2s;
    line-height: 3em;
}


.content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
}

/* For when it's less than full screen */
@media (max-width: 1000px) {
    .baseContent {
        flex-direction: column !important;
        margin-top: 13vh !important;
        margin-left: 5vw !important;
        width: 90vw !important;
    }

    .navWrapper .navigationBar {
        /*!important because it wasn't being applied :(*/
        width: 100vw !important;
        height: 10vh !important;
        flex-direction: row !important;
        gap: 0% !important;
        justify-content: space-evenly;
        align-items: center;

    }

    .navigationBar a {
        /* height: 10vh !important;
        padding-left: 4vw !important;
        padding-right: 2vw !important;
        padding-top: 0 !important;
        padding-bottom: 0 !important; */
        width: 25vw !important;
        line-height: 3em;
    }

    .navImage {
        height: 8vh;
        width: auto;
    }
}
