/** Universal variables and styles **/

* {
  margin: 0;
  box-sizing: border-box;
}

/** Belgiano Font**/
@font-face {
  font-family: 'Belgiano Serif';
  font-display: swap;
  src: url('fonts/belgiano_serif/Belgiano_Serif_2.ttf') format('truetype');
}

/* Open Sans font */
@font-face {
  font-family: 'Open_Sans';
  display: swap;
  src: url('fonts/Open_Sans/OpenSans-VariableFont_wdth_wght.ttf') format('truetype');
}


/** 

    *Global Varibles*
      To use write var(--heading-font) in place of where you'd type 'Belgiano'

**/
:root {
  /** Global Fonts **/
  --heading-font: Belgiano;
  --body-font: Open_Sans;


  /* CSS HEX */
  --mint-green: #d3f2e9ff;
  --cambridge-blue: #7ca8a1ff;
  --skobeloff: #0a7b79ff;
  --indigo-dye: #1d406bff;
  --sandy-brown: #f4a363ff;
  --light-coral: #db767dff;

  /* CSS HSL */
  --mint-green: hsla(163, 54%, 89%, 1);
  --cambridge-blue: hsla(170, 20%, 57%, 1);
  --skobeloff: hsla(179, 85%, 26%, 1);
  --indigo-dye: hsla(213, 57%, 27%, 1);
  --sandy-brown: hsla(26, 87%, 67%, 1);
  --light-coral: hsla(356, 58%, 66%, 1);
}

/**Standard styling**/
h1,
h2,
h3,
h4,
h5 {
  font-family: var(--heading-font);
  color: var(--indigo-dye);
}

p {
  font-family: var(--body-font);
  color: var(--indigo-dye);
}

/* unvisited link */
a:link {
  color: var(--skobeloff);
}

/* visited link */
a:visited {
  color: var(--indigo-dye);
}

/* mouse over link */
a:hover {
  color: var(--sandy-brown);
}

/* selected link */
a:active {
  color: var(--sandy-brown);
}

/** Responsive text sizes by Matthew James Taylor, September 2023, https://matthewjamestaylor.com/responsive-font-size#how**/
body,
button,
input,
label,
b {
  font-size: calc(15px + 0.390625vw);
}


h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.8rem;
}

/*change colour of placeholder text in inputs*/
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-family: var(--body-font);
  color: var(--indigo-dye);
  opacity: 1;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-family: var(--body-font);
  color: var(--indigo-dye);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  font-family: var(--body-font);
  color: var(--indigo-dye);
}


/*Family member form styling*/

/* Button used to open the add family member form */
#form-button {
  font-family: var(--body-font);
  background-color: var(--cambridge-blue);
  color: var(--indigo-dye);
  width: 15vw;
  height: 15vw;
  padding: 5% 5%;
  border: none;
  border-radius: 25%;
  cursor: pointer;
  transition: 0.4s;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

/* Text in button used to open the add family member form */
#form-button>p {
  font-family: var(--body-font);
  color: var(--mint-green);
  text-decoration: none;
}

/* Text effects on hover, family member form button*/
#form-button:hover>p {
  font-family: var(--body-font);
  color: var(--mint-green);
  text-decoration: underline;
  text-decoration-color: var(--mint-green);
}


#familyForm {
  transition: 0.4s;
}

/* The popup form - hidden by default */
.form-popup {
  font-family: var(--body-font);
  color: var(--mint-green);
  display: none;
  position: fixed;
  bottom: 0;
  right: 15vw;
  z-index: 9;
}

.form-popup p {
  font-family: var(--body-font);
  color: var(--mint-green);
}

/* Add styles to the form container */
.form-container {
  width: 60vw;
  height: 95vh;
  margin-bottom: 2.5vh;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 2vh;
  padding-bottom: 2vh;
  border-radius: 10px;
  background-color: var(--indigo-dye);
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  align-content: space-between;
  flex-direction: column;
}

/* change text in form */
.form-container h1, .form-container h2, .form-container h3, .form-container h4, .form-container h5 {
  color: var(--mint-green);
  font-family: var(--body-font);
}

.radio-button-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.radio-button-and-label {
  display: flex;
  width: auto;
  max-width: 50%;
  justify-content: flex-start;
  align-items: center;
  transition: 0.4s;
}

.radio-button-and-label:hover {
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
}

.radio-button-container label:hover {
  cursor: pointer;
}

input[type=radio] {
  appearance: none;
  width: 2vh;
  height: 2vh;
  background-color: var(--mint-green);
  border-radius: 50%;
  margin: 1vw;
  cursor: pointer;
}

input[type=radio]:checked {
  background-color: var(--sandy-brown);
}


/* Full-width input fields */
.form-container input[type=text],
.form-container input[type=email] {
  color: var(--skobeloff);
  width: 100%;
  padding: 2vh;
  border: none;
  background: var(--cambridge-blue);
  border-radius: 10px;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus,
.form-container input[type=email]:focus {
  background-color: var(--mint-green);
  outline: none;
}

.form-popup-cancel-and-cofirm {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  gap: 10%;
}

/* Set a style for the button */
.form-container .btn {
  font-family: var(--body-font);
  color: var(--mint-green);
  padding: 2vh;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 1%;
  border-radius: 10px;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: var(--light-coral);
}

.form-container .confirm {
  background-color: var(--skobeloff);
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
#form-button:hover {
  text-decoration: underline;
  font-weight: bold;
  background-color: var(--sandy-brown);
  transition: 0.4s;
}


/* family container stuff here */
#familyContainer {
  display: flex;
  /* justify-content: space-between; */
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5%;
}

.familyMemberContainer {
  width: 15vw;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  color: var(--indigo-dye);
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.familyMember {
  width: 15vw;
  height: 15vw;
  background-color: var(--cambridge-blue);
  border-radius: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.familyMemberContainer:hover {
  font-weight: bold;
  transition: 0.4s;

}

.familyMemberContainer p{
  line-height: 1.8em;
}

.familyMemberContainer:hover .familyMember {
  background-color: var(--sandy-brown);
  transition: 0.4s;
}

.familyMemberContainer:hover img {
  transform: scale(1.3);
}

.familyMember img {
  max-height: 25vh;
  transition: transform .4s;
}

.manageFamilyBtns {
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
  width: 100%;
}

.manageFamilyBtns button {
  font-family: var(--body-font);
  font-size: calc(10px + 0.390625vw);
  color: var(--mint-green);
  border: none;
  cursor: pointer;
  border-radius: 10px;
  padding: 0% 10% 0% 10%;
  line-height: 2em;

}

/* Add a red background color to the cancel button */
.manageFamilyBtns .deleteFamilyMember {
  background-color: var(--light-coral);
}

.manageFamilyBtns .editFamilyMember {
  background-color: var(--skobeloff);
}

/* Add some hover effects to buttons */
.manageFamilyBtns button:hover {
  text-decoration: underline;
  font-weight: bold;
  background-color: var(--sandy-brown);
  transition: 0.4s;
  cursor: pointer;
}

/* Icon select in form styling section */
.iconSelect input[type="radio"] {
  appearance: none;
  width: 0;
  height: 0;
  display: none;
}

.iconSelect input[type="radio"]:checked+img {
  background-color: var(--sandy-brown);
}

.iconSelect img {
  width: 8vw;
  height: 8vw;
}

/* Guide tab styling, links to Apple and Google sections */
.guideTabLinksSelectedBorder {
  border-bottom: 0.5vh solid var(--sandy-brown);
}

.guide-tab-link {
  background-color: var(--mint-green);
  opacity: 0.7;
  padding: 10% 20%;
  border-radius: 10%;
  text-align: center;
}

.guide-tab-link:hover {
  opacity: 1;
}

#guide-tab-nav {
  background-color: var(--cambridge-blue);
  padding-top: 2%;
  padding-bottom: 2%;
  display: flex;
}

#guide-tab-nav a {
  padding-left: 2%;
}

/* Styling images on guide page */
.guideImgBox {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 30%;
  margin: 2vh;
}

.guideImg1 {
  max-height: 55vh;
  border-radius: 3%;
  max-width: 100%;
  width: auto;
  object-fit: contain;
}

.guideImg2 {
  height: auto;
  border-radius: 3%;
  width: auto;
  max-width: 48%;
}


/* Alert styling */
#alert {
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
}

#alert p {
  color: white;
}

#dismissAlertButton {
  float: right;
  background-color: transparent;
  border: none;
  color: white;
}

.alert-error {
  background-color: var(--light-coral);
}

.alert-success {
  background-color: var(--skobeloff);
}

/*For when screen is mobile dimensions*/
@media only screen and (max-width: 1000px) {
  h1 {
    font-size: 2.3em;
  }

  h2 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1.4em;
  }

  h4 {
    font-size: 1.3em;
  }

  h5 {
    font-size: 1.2em;
  }

  body {
    font-size: 1.7em;
  }

  input {
    font-size: 1.5em;
  }

  label {
    font-size: 1.5em;
  }

  b {
    font-size: 1.5em;
  }

  .form-container {
    width: 100vw;
    height: 100vh;
    margin: 0vh;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    background-color: var(--indigo-dye);
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
  }

  .form-popup {
    font-family: var(--body-font);
    color: var(--mint-green);
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 9;
  }


  .familyMemberContainer {
    width: 30vw;
    height: auto;
  }

  .familyMember {
    width: 30vw;
    height: 30vw;
  }

  .form-container .btn {
    font-size: 1.2em;
    padding: 1vh;
    border-radius: 10px;
  }

  /* Button used to open the add family member form */
  #form-button {
    width: 30vw;
    height: 30vw;
  }

  .manageFamilyBtns button {
    font-family: var(--body-font);
    font-size: calc(15px + 0.390625vw);
    color: var(--mint-green);
    padding: 0% 5% 0% 5%;
    border: none;
    cursor: pointer;
  }

  .guideImgBox {
    flex-direction: column !important;
    align-items: center;
    height: auto !important;
    gap: 2vh;
  }

  .guideImg2 {
    max-width: 100% !important;
  }

}