/** Univeral variables and styles **/

* {
    margin: 0;
}
/** Belgiano Font**/
@font-face {
    font-family: 'Belgiano Serif';
    font-display: swap;
    src: url('fonts/belgiano_serif/Belgiano_Serif_2.ttf') format('truetype');
}

@font-face {
    font-family: 'Open_Sans';
    display: swap;
    src: url('fonts/Open_Sans/OpenSans-VariableFont_wdth_wght.ttf') format('truetype');
}


@media (max-width: 480px) {
    .baseContent {
        flex-direction: column;
    }

    .navWrapper .navigationBar {
        width: 100vw;
        height: 10vh;
        flex-direction: row;
    }
}



/** 

    *Global Varibles*
      To use write var(--heading-font) in place of where you'd type 'Belgiano'

**/


/**DO NOT TOUCH ANYTHING HERE**/
:root {
    /** Global Fonts **/
    --heading-font: Belgiano;
    --body-font: Open_Sans;


    /* CSS HEX */
    --mint-green: #d3f2e9ff;
    --cambridge-blue: #7ca8a1ff;
    --skobeloff: #0a7b79ff;
    --indigo-dye: #1d406bff;
    --sandy-brown: #f4a363ff;
    --light-coral: #db767dff;

    /* CSS HSL */
    --mint-green: hsla(163, 54%, 89%, 1);
    --cambridge-blue: hsla(170, 20%, 57%, 1);
    --skobeloff: hsla(179, 85%, 26%, 1);
    --indigo-dye: hsla(213, 57%, 27%, 1);
    --sandy-brown: hsla(26, 87%, 67%, 1);
    --light-coral: hsla(356, 58%, 66%, 1);
} 

/**Below is fine to touch, carefully (notes to keep Ali from breaking things)**/
h1, h2, h3, h4, h5 {
    font-family: var(--heading-font);
    color: var(--indigo-dye);
}
p {
    font-family: var(--body-font);
    color: var(--indigo-dye);
}

/** https://matthewjamestaylor.com/responsive-font-size#how - trusting this formula**/
body {
    font-size: calc(15px + 0.390625vw);
}

h1 {
    font-size: 1.8rem;
}
h2 {
    font-size: 1.5rem;
}
h3 {
    font-size: 1.2rem;
}
h4 {
    font-size: 1rem;
}
h5 {
    font-size: 0.8rem;
}



/* TODO move base styles into their own sheet */
.baseContent {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    width: 100vw;
    gap: 3%;
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
}
/* TODO workout why display is throwing an invalid property type */
.navWrapper .navigationBar {
    /* top: 0;
    left: 0; */
    width: 15vw;
    height: 100vh;
    background-color: var(--indigo-dye);
    color: var(--mint-green);
    display: flex;
    flex-direction: column;
    gap: 5%;
    align-content: space-around;
}

.navigationBar a {
    outline: none;
    text-align: center;
    font-family: var(--body-font);
}

.navigationBar a:link {
    color: var(--mint-green);
}

.navigationBar a:visited {
    color: var(--cambridge-blue);
}

.navigationBar a:focus {
    text-decoration: none;
    color: var(--indigo-dye);
    background: var(--cambridge-blue);
}

.navigationBar a:hover {
    text-decoration: none;
    color: var(--indigo-dye);
    background: var(--cambridge-blue);
}

.navigationBar a:active {
    background: var(--light-cora);
    color: var(--cambridge-blue);
}

.content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: space-around;
}

