<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} - Reef Mates</title>
    <!-- Web icon -->
    <link rel="icon" href="{{url_for('static', filename='graphics/ocean-icons/ocean-icons-nonoutlined/Slug_1_flavio.png')}}">
    <!-- Main.css is for global styles only -->
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <!-- Base.css is for base.css globals -->
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/base.css')}}">    
</head>

<body class="baseContent">
    <div>
        <video autoplay muted loop id="baseWaterBackgroundVideo">
            <source src="{{url_for('static', filename='graphics/Base_Water_HD.mp4')}}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>

    <aside class="navWrapper">
        <nav class="navigationBar">
            <div><img class="navImage" src="{{url_for('static', filename='graphics/ocean-decor/Coral composition.png')}}"></div>
            <a class="navLink" href="{{url_for('admin.help')}}">Guide</a>
            <a class="navLink" href="{{url_for('admin.manage_family')}}">Home Reef</a>
        </nav>
    </aside>
    
    <main class="content">
        {% block content %} {% endblock %}

    </main>

</body>
<script type="text/javascript" src="{{url_for('static', filename='js/familyManagement.js')}}"></script>
</html>
