<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} - CalendarApp</title>
    <!-- Main.css is for global styles only -->
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <!-- Base.css is for base.css globals -->
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/base.css')}}">
    <!-- Calendar.css is for calendar view styles only -->
    

</head>
<!-- 
    For example details on how templating works please see the following website
    https://www.digitalocean.com/community/tutorials/how-to-use-templates-in-a-flask-application
 -->

<body class="baseContent" >
    <div>
        <video autoplay muted loop id="baseWaterBackgroundVideo">
            <source src="{{url_for('static', filename='graphics/Base_Water_HD.mp4')}}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>

    <aside class="navWrapper">
        <nav class="navigationBar">
            <!--can put an icon here :) to look nice-->
            <p><img class="navImage" src="{{url_for('static', filename='graphics/ocean-decor/Coral composition.png')}}"></p>
            <a href="{{url_for('admin.help')}}">Guide</a>
            <a href="{{url_for('admin.add_calendars')}}">Calendar</a>
            <a href="{{url_for('admin.manage_family')}}">Family</a>
        </nav>
    </aside>
    
    <main class="content">
        <a href="/">Home</a>
        <a href="{{url_for('calendar.default')}}">Calendar</a>
        {% block content %} {% endblock %}

    </main>

</body>
<script type="text/javascript" src="{{url_for('static', filename='js/familyManagement.js')}}"></script>
</html>
