<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} - CalendarApp</title>
    <!-- Main.css is for global styles only -->
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <!-- Calendar.css is for calendar view styles only -->
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/calendar.css')}}">

</head>
<!-- 
    For example details on how templating works please see the following website
    https://www.digitalocean.com/community/tutorials/how-to-use-templates-in-a-flask-application
 -->

 <!-- TODO make calendar not use base!!!!-->
<body class="baseContent" >
    <div class="navWrapper">
        <nav class="navigationBar">
            <a href="{{url_for('admin.help')}}">Guide</a>
            <a href="{{url_for('admin.add_calendars')}}">Calendar</a>
            <a href="{{url_for('admin.my_family')}}">Family</a>
            <a href="{{url_for('admin.settings')}}">Settings</a>
    </div>
    
    <div class="content">
        <a href="/">Index page - home</a>
            <a href="{{url_for('admin.default')}}">the admin page</a>
            <a href="{{url_for('calendar.default')}}">Calendar</a>
            {% block content %} {% endblock %}

    </div>

</body>
</html>
