<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calendar - Home Reef</title>
    <!-- Web icon -->
    <link rel="icon" href="{{url_for('static', filename='graphics/ocean-icons/ocean-icons-nonoutlined/Slug_1_flavio.png')}}">
    <!-- Main.css is for global styles only -->
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <!-- Calendar.css is for calendar view styles only -->
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/calendar.css')}}">
    <script src="{{url_for('static', filename='js/mousetrap.js')}}"></script>
</head>
<!-- 
    For example details on how templating works please see the following website
    https://www.digitalocean.com/community/tutorials/how-to-use-templates-in-a-flask-application
 -->

<body class="baseContent">
    <div class="dimmingContent"></div>
    <div>
        <video autoplay muted loop id="waterBackgroundVideo" class="waterBackgroundDay">
            <source src="{{url_for('static', filename='graphics/Base_Water_HD.mp4')}}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>

    <main class="content" id="calendarContent" style="display:none;">
        <h1 class="calendarViewTopText" id="datetime">.</h1>
        <h3 id="weeksAgoAheadFlag" style="display: none;"></h3>      
        <section>
            <form name="userHighlightForm" class="tempHighlightControl">
                <p id="homeAndAway" style="display:none;">{{homeAndAway}}</p>
                <input type="hidden" id="currentlyHighlighted" name="currentlyHighlighted" value="all">
                <input type="hidden" id="currentWeekViewing" name="currentWeekViewing" value="{{thisWeekIndex}}">
                <input type="hidden" id="selectedUserBrightness" name="selectedUserBrightness" value="default">
                <div class="viewChange">
                    <button type="button" class="btn" onclick="uidSelect('all', 'all'); changeWeek({{thisWeekIndex}}, 0, {{numWeeks}}, '{{datesArray}}'); dimCalendarView(0);">Reset View</button>
                    <button type="button" class="btn" id="backOneWeek" onclick="changeWeek({{thisWeekIndex}}, -1, {{numWeeks}}, '{{datesArray}}');">Back a week</button>
                    <button type="button" class="btn" id="forwardOneWeek" onclick="changeWeek({{thisWeekIndex}}, +1, {{numWeeks}}, '{{datesArray}}');">Forward a week</button>
                    <button type="button" class="btn" id="dimIncrease" onclick="dimCalendarView(0.1)">Dim increase</button>
                    <button type="button" class="btn" id="dimDecrease" onclick="dimCalendarView(-0.1)">Dim decrease</button>
                </div>
                <div class="radio-button-container userHighlight">
                    <button type="button" class="btn" onclick="resetHighlighted(); deselectUsers();">Reset Highlighted</button>
                    {% for user in uids.keys() %}
                        <label>
                            <input type="checkbox" class="userSelectRadio" id="{{user}}" value="{{uids[user]}}" onclick="uidSelect('{{user}}');">
                            <label for="{{user}}">{{user}}</label>
                        </label>
                    {% endfor%}
                </div>
                <label for="userBrightness">Selected user brightness:</label>
                <button id="userBrightnessUp" type="button" class="btn" name="userBrightness" value="up" onclick="userBrightnessChange(1);">up</button>
                <button id="userBrightnessDown" type="button" class="btn" name="userBrightness" value="down" onclick="userBrightnessChange(-1);">down</button>
            </form>
            <div class="calendarContent">
                <div class="calendarDays">
                    <div id="timeEmptySpace">
                        <p></p>
                    </div>
                    <div id="Sunday">
                        <p>Sunday</p>
                        <p id="sundayDate">{{datesArray[thisWeekIndex][0]}}</p>
                    </div>

                    <div id="Monday">
                        <p>Monday</p>
                        <p id="mondayDate">{{datesArray[thisWeekIndex][1]}}</p>
                    </div>

                    <div id="Tuesday">
                        <p>Tuesday</p>
                        <p id="tuesdayDate">{{datesArray[thisWeekIndex][2]}}</p>
                    </div>

                    <div id="Wednesday">
                        <p>Wednesday</p>
                        <p id="wednesdayDate">{{datesArray[thisWeekIndex][3]}}</p>
                    </div>

                    <div id="Thursday">
                        <p>Thursday</p>
                        <p id="thursdayDate">{{datesArray[thisWeekIndex][4]}}</p>
                    </div>

                    <div id="Friday">
                        <p>Friday</p>
                        <p id="fridayDate">{{datesArray[thisWeekIndex][5]}}</p>
                    </div>

                    <div id="Saturday">
                        <p>Saturday</p>
                        <p id="saturdayDate">{{datesArray[thisWeekIndex][6]}}</p>
                    </div>
                </div>
                <div class="calendarGrid" id="calendarGridMain">
                    <div id = "currentTime"></div>
                    <div class = "timeLabel" style = "grid-area: r00-00 / c00-00 / r01-00 / c00-00;"><p>12:00 AM</p></div>
                    <div class = "timeLabel" style = "grid-area: r01-00 / c00-00 / r02-00 / c00-00;"><p>1:00 AM</p></div>
                    <div class = "timeLabel" style = "grid-area: r02-00 / a00-00 / r03-00 / a00-00;"><p>2:00 AM</p></div>
                    <div class = "timeLabel" style = "grid-area: r03-00 / a00-00 / r04-00 / a00-00;"><p>3:00 AM</p></div>
                    <div class = "timeLabel" style = "grid-area: r04-00 / a00-00 / r05-00 / a00-00;"><p>4:00 AM</p></div>
                    <div class = "timeLabel" style = "grid-area: r05-00 / a00-00 / r06-00 / a00-00;"><p>5:00 AM</p></div>
                    <div class = "timeLabel" style = "grid-area: r06-00 / a00-00 / r07-00 / a00-00;"><p>6:00 AM</p></div>
                    <div class = "timeLabel" style = "grid-area: r07-00 / a00-00 / r08-00 / a00-00;"><p>7:00 AM</p></div>
                    <div class = "timeLabel" style = "grid-area: r08-00 / a00-00 / r09-00 / a00-00;"><p>8:00 AM</p></div>
                    <div class = "timeLabel" style = "grid-area: r09-00 / a00-00 / r10-00 / a00-00;"><p>9:00 AM</p></div>
                    <div class = "timeLabel" style = "grid-area: r10-00 / a00-00 / r11-00 / a00-00;"><p>10:00 AM</p></div>
                    <div class = "timeLabel" style = "grid-area: r11-00 / a00-00 / r12-00 / a00-00;"><p>11:00 AM</p></div>
                    <div class = "timeLabel" style = "grid-area: r12-00 / c00-00 / r13-00 / c00-00;"><p>12:00 PM</p></div>
                    <div class = "timeLabel" style = "grid-area: r13-00 / c00-00 / r14-00 / c00-00;"><p>1:00 PM</p></div>
                    <div class = "timeLabel" style = "grid-area: r14-00 / a00-00 / r15-00 / a00-00;"><p>2:00 PM</p></div>
                    <div class = "timeLabel" style = "grid-area: r15-00 / a00-00 / r16-00 / a00-00;"><p>3:00 PM</p></div>
                    <div class = "timeLabel" style = "grid-area: r16-00 / a00-00 / r17-00 / a00-00;"><p>4:00 PM</p></div>
                    <div class = "timeLabel" style = "grid-area: r17-00 / a00-00 / r18-00 / a00-00;"><p>5:00 PM</p></div>
                    <div class = "timeLabel" style = "grid-area: r18-00 / a00-00 / r19-00 / a00-00;"><p>6:00 PM</p></div>
                    <div class = "timeLabel" style = "grid-area: r19-00 / a00-00 / r20-00 / a00-00;"><p>7:00 PM</p></div>
                    <div class = "timeLabel" style = "grid-area: r20-00 / a00-00 / r21-00 / a00-00;"><p>8:00 PM</p></div>
                    <div class = "timeLabel" style = "grid-area: r21-00 / a00-00 / r22-00 / a00-00;"><p>9:00 PM</p></div>
                    <div class = "timeLabel" style = "grid-area: r22-00 / a00-00 / r23-00 / a00-00;"><p>10:00 PM</p></div>
                    <div class = "timeLabel" style = "grid-area: r23-00 / a00-00 / r-1 / a00-00;"><p>11:00 PM</p></div>

                    {% for event in events[thisWeekIndex] %}
                        <div class="event {{event['uid']}} default" style = "grid-area: r{{event['rowstart']}} / 
                                a{{event['colstart']}} / r{{event['rowend']}} / a{{event['colend']}};">
                            <p id="eventHeading">{{event['summary']}}</p>
                            <!-- wat -->
                            <p>{{event['start']}} - {{event['end']}}</p>
                            <div class="eventAttendees">
                                {% if event['short'] == true %}
                                        <p> 
                                            {% for person in event['attendees']%}
                                                {{person['name']}}{% if loop.index != (event['attendees'] | length) %}, {% endif %}
                                            {% endfor %}
                                        </p>
                                    {% else %}
                                        {% for person in event['attendees'] %}
                                            <div class="personWrapper">
                                                <img class="icon" src="{{url_for('static', filename=person['icon'])}}">
                                                <p>{{person['name']}}</p>
                                            </div>
                                        {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}


                    <!-- Time rows -->
                    <div class="timeRows">

                    </div>
                    <!-- Below is the top row of the calendar -->
                </div>
            </div>
        </section>
</main>

<div id="screensaver" style="display: block;">
    <img class="screensaverImage" id="screensaverImage0"  src="{{url_for('static', filename='graphics/ambient-screen/Screensaver_Slug_Home.png')}}" style="display: block;">
    <img class="screensaverImage" id="screensaverImage53" src="{{url_for('static', filename='graphics/ambient-screen/Screensaver_Slug_1_3_5_6_Away.png')}}" style="display: none;">
    <img class="screensaverImage" id="screensaverImage21" src="{{url_for('static', filename='graphics/ambient-screen/Screensaver_Slug_1_3_5_Away.png')}}" style="display: none;">
    <img class="screensaverImage" id="screensaverImage5" src="{{url_for('static', filename='graphics/ambient-screen/Screensaver_Slug_1_3_Away.png')}}" style="display: none;">
    <img class="screensaverImage" id="screensaverImage49" src="{{url_for('static', filename='graphics/ambient-screen/Screensaver_Slug_1_5_6_Away.png')}}" style="display: none;">
    <img class="screensaverImage" id="screensaverImage17" src="{{url_for('static', filename='graphics/ambient-screen/Screensaver_Slug_1_5_Away.png')}}" style="display: none;">
    <img class="screensaverImage" id="screensaverImage37" src="{{url_for('static', filename='graphics/ambient-screen/Screensaver_Slug_1_6_3_Away.png')}}" style="display: none;">
    <img class="screensaverImage" id="screensaverImage33" src="{{url_for('static', filename='graphics/ambient-screen/Screensaver_Slug_1_6_Away.png')}}" style="display: none;">
    <img class="screensaverImage" id="screensaverImage1"  src="{{url_for('static', filename='graphics/ambient-screen/Screensaver_Slug_1_Away.png')}}" style="display: none;">
    <img class="screensaverImage" id="screensaverImage52" src="{{url_for('static', filename='graphics/ambient-screen/Screensaver_Slug_3_5_6_Away.png')}}" style="display: none;">
    <img class="screensaverImage" id="screensaverImage20" src="{{url_for('static', filename='graphics/ambient-screen/Screensaver_Slug_3_5_Away.png')}}" style="display: none;">
    <img class="screensaverImage" id="screensaverImage36"  src="{{url_for('static', filename='graphics/ambient-screen/Screensaver_Slug_3_6_Away.png')}}" style="display: none;">
    <img class="screensaverImage" id="screensaverImage4" src="{{url_for('static', filename='graphics/ambient-screen/Screensaver_Slug_3_Away.png')}}" style="display: none;">
    <img class="screensaverImage" id="screensaverImage48" src="{{url_for('static', filename='graphics/ambient-screen/Screensaver_Slug_5_6_Away.png')}}" style="display: none;">
    <img class="screensaverImage" id="screensaverImage16" src="{{url_for('static', filename='graphics/ambient-screen/Screensaver_Slug_5_Away.png')}}" style="display: none;">
    <img class="screensaverImage" id="screensaverImage32" src="{{url_for('static', filename='graphics/ambient-screen/Screensaver_Slug_6_Away.png')}}" style="display: none;">
</div>

<section class="soundEffects">
    <audio controls id="bubblePopSound">
        <!-- Credit as per Licence
            Title: bubble(7).wav
            Author: Glaneur de sons
            Source: https://freesound.org/people/Glaneur%20de%20sons/sounds/104946/
            Licence: Creative Common's 3.0 - https://creativecommons.org/licenses/by/3.0/ 
            Changes: Sound was shortened and made quieter -->
        <!-- Glaneur de sons. (2010). bubble(7).wav [Sound]. freesound. https://freesound.org/people/Glaneur%20de%20sons/sounds/104946/ -->
        <source src="{{url_for('static', filename='sounds/bubble-pop-shortened.wav')}}" type="audio/wav">
        Your browser does not support the audio element.
    </audio> 

    <audio controls id="multipleBubblesSound">
        <!-- Credit as per Licence
            Title: Bubble_pops
            Author: soundman2733
            Source: https://freesound.org/people/soundman2733/sounds/654915/
            Licence: https://creativecommons.org/licenses/by/4.0/
            Changes: Sound was shortened and made quieter -->
        <!-- soundman2733. (2022). Bubble_pops [Sound]. freesound. https://freesound.org/people/soundman2733/sounds/654915/ -->
        <source src="{{url_for('static', filename='sounds/bubbles-multiple-shorten.wav')}}" type="audio/wav">
        Your browser does not support the audio element.
    </audio> 

    <audio controls id="bellSound">
        <!-- Creative Commons 0
            Title: Bell(deep)A
            Author: bolkmar
            Source: https://freesound.org/people/bolkmar/sounds/453181/
            Licence: https://creativecommons.org/licenses/by/4.0/
            Changes: Sound was shortened and made quieter -->
        <!-- bolkmar. (2018). Bell(deep)A [Sound]. freesound. https://freesound.org/people/bolkmar/sounds/453181/ -->
        <source src="{{url_for('static', filename='sounds/bell-deep-shorten-new.wav')}}" type="audio/wav">
        Your browser does not support the audio element.
    </audio> 

</section>

<script type="text/javascript" src="{{url_for('static', filename='js/mainLoop.js')}}"></script>
<script>
    window.onload = function () {
        show_screensaver();
        updateTimeData();
        resetHighlighted();
        deselectUsers();
        getHomeAndAway();
    }

    Mousetrap.bind('a', function() { document.getElementById('all').click(); });
    Mousetrap.bind('u', function() { document.getElementById('calendarGridMain').scrollBy({top: -120, left: 0, behavior: 'smooth' }); });
    Mousetrap.bind('d', function() { document.getElementById('calendarGridMain').scrollBy({top: 120, left: 0, behavior: 'smooth' }); });
    Mousetrap.bind('f', function() { document.getElementById('forwardOneWeek').click(); });
    Mousetrap.bind('b', function() { document.getElementById('backOneWeek').click(); });
    Mousetrap.bind('q', function() { document.getElementById('dimIncrease').click();});
    Mousetrap.bind('w', function() {document.getElementById('dimDecrease').click();});
    Mousetrap.bind('7', function() {document.getElementById('userBrightnessUp').click();});
    Mousetrap.bind('8', function() {document.getElementById('userBrightnessDown').click();});
</script>
{% for user in uids.keys() %}
    <script>
        Mousetrap.bind('{{loop.index0}}', function() { document.getElementById('{{user}}').click(); });
    </script>
{% endfor %}
</body>
</html>
