<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CalendarApp</title>
    <!-- Main.css is for global styles only -->
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <!-- Calendar.css is for calendar view styles only -->
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/calendar.css')}}">

</head>
<!-- 
    For example details on how templating works please see the following website
    https://www.digitalocean.com/community/tutorials/how-to-use-templates-in-a-flask-application
 -->

<body class="baseContent">
    <div>
        <video autoplay muted loop id="waterBackgroundVideo">
            <source src="{{url_for('static', filename='graphics/Base_Water_HD.mp4')}}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>

    <main class="content">
        <h1 class="calendarViewTopText" id="datetime">.</h1>       
        <section>
            <div class="calendarContent">
                <div class="calendarDays">
                    <div id="timeEmptySpace">
                        <p>time</p>
                    </div>
                    <div id="Sunday" class="{{'todayHeader' if today == 0 else ''}}">
                        <p>Sunday</p>
                        <p>{{dates[0]}}</p>
                    </div>

                    <div id="Monday" class="{{'todayHeader' if today == 1 else ''}}">
                        <p>Monday</p>
                        <p>{{dates[1]}}</p>
                    </div>

                    <div id="Tuesday" class="{{'todayHeader' if today == 2 else ''}}">
                        <p>Tuesday</p>
                        <p>{{dates[2]}}</p>
                    </div>

                    <div id="Wednesday" class="{{'todayHeader' if today == 3 else ''}}">
                        <p>Wednesday</p>
                        <p>{{dates[3]}}</p>
                    </div>

                    <div id="Thursday" class="{{'todayHeader' if today == 4 else ''}}">
                        <p>Thursday</p>
                        <p>{{dates[4]}}</p>
                    </div>

                    <div id="Friday" class="{{'todayHeader' if today == 5 else ''}}">
                        <p>Friday</p>
                        <p>{{dates[5]}}</p>
                    </div>

                    <div id="Saturday" class="{{'todayHeader' if today == 6 else ''}}">
                        <p>Saturday</p>
                        <p>{{dates[6]}}</p>
                    </div>
                </div>
                <div class="calendarGrid" id="calendarGridMain">
                {% for event in events %}
                    <div class="event" id ="{{event['uid']}}div" style = "grid-area: r{{event['rowstart']}} / 
                            a{{event['colstart']}} / r{{event['rowend']}} / a{{event['colend']}};">
                        <p id="eventHeading">{{event['summary']}}</p>
                        <p>{{event['start']}} - {{event['end']}}</p>
                        {% for person in event['attendees'] %}
                            <img class="icon" src="{{url_for('static', filename=person['icon'])}}"> 
                            <p>{{person['name']}}</p>
                        {% endfor %}
                    </div>
                {% endfor %}


                    <!-- Time rows -->
                    <div class="timeRows">

                    </div>
                    <!-- !!!!!!!!!!!!!!!!!!!!!!!!! Below is the top row of the calendar -->
                </div>
            </div>
        </section>
</main>
<script type="text/javascript" src="{{url_for('static', filename='js/calendarTimes.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/mainLoop.js')}}"></script>
<script>
    window.onload = function (){
        updateTimeData();
    }
</script>
</body>
</html>
