<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CalendarApp</title>
    <!-- Main.css is for global styles only -->
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <!-- Calendar.css is for calendar view styles only -->
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/calendar.css')}}">

</head>
<!-- 
    For example details on how templating works please see the following website
    https://www.digitalocean.com/community/tutorials/how-to-use-templates-in-a-flask-application
 -->

<body class="baseContent">
    <div>
        <video autoplay muted loop id="waterBackgroundVideo">
            <source src="{{url_for('static', filename='graphics/Water_HD.mp4')}}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>

    <main class="content">
       
        <h1 class="calendarViewTopText">Calendar</h1>
        <p class="calendarViewTopText">Hi I'm calendar - You shouldn't be able to see me...</p>
       
        <section>
            <div class="calendarContent">
                <div class="calendarDays">
                    <div id="timeEmptySpace">
                        <h4>time</h4>
                    </div>
                    <div id="Sunday">
                        <h4>Sunday</h4>
                    </div>

                    <div id="Monday">
                        <h4>Monday</h4>
                    </div>

                    <div id="Tuesday">
                        <h4>Tuesday</h4>
                    </div>

                    <div id="Wednesday">
                        <h4>Wednesday</h4>
                    </div>

                    <div id="Thursday">
                        <h4>Thursday</h4>
                    </div>

                    <div id="Friday">
                        <h4>Friday</h4>
                    </div>

                    <div id="Saturday">
                        <h4>Saturday</h4>
                    </div>
                </div>
                <div class="calendarGrid">
                    <div id="EVENT1">
                        <h4>Saturday</h4>
                    </div>
                {% for event in events %}
                    <div class="event" id ="{{event['uid']}}div" style = "grid-area: r{{event['rowstart']}} / 
                            a{{event['colstart']}} / r{{event['rowend']}} / a{{event['colend']}}; background-color: aqua;">
                        <h4>Summary: {{event['summary']}}</h4>
                        <p>Start: {{event['start']}}</p>
                        <p>End: {{event['end']}}</p>
                        <h4>Attendees:</h4>
                        {% for person in event['attendees'] %}
                        <p> {{person}} {{family[person].icon}}</p>
                {% endfor %}
                <br>
            </div>
            
        {% endfor %}


                    <!-- Time rows -->
                    <div class="timeRows">

                    </div>
                    <!-- !!!!!!!!!!!!!!!!!!!!!!!!! Below is the top row of the calendar -->
                </div>
            </div>
        </section>
</main>
<script type="text/javascript" src="{{url_for('static', filename='js/calendarTimes.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/mainLoop.js')}}"></script>
</body>
</html>
