{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Home Reef {% endblock %}</h1>
<p>Edit, add and remove reef members here.<br></p>

{% with messages = get_flashed_messages(with_categories=true) %} 
    {% if messages %} 
        {% for category, message in messages %} 
            {% if category == 'error' %}
                <div id="alert" class="alert alert-error">
                    <p>{{ message }}
                        <button id="dismissAlertButton" type="button" onclick="dismissAlert()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </p>
                </div>
            {% else %}
                <div id="alert" class="alert alert-success">
                    <p>{{ message }}
                        <button id="dismissAlertButton" type="button" onclick="dismissAlert()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </p>
                </div>
            {% endif %} 
        {% endfor %}
    {% endif %} 
{% endwith %}

<div id="familyContainer">
    <!--family member icons w names above them and edit and delete buttons below them-->
    {% for member in family%}
    <div class="familyMemberContainer" , id="{{member.name}}Box">
        <!--<p> Url: {{member.url}}</p>
        <p> calendartype: {{member.calendartype}}</p>
        <p> email: {{member.email}}</p>-->
        <figure class="familyMember">
            <img class='icon' src="{{url_for('static', filename=member.icon)}}">
        </figure>
        <p>{{ member.name }}</p>
        <div class="manageFamilyBtns">
            <button onclick="openEditForm('{{member.name}}', '{{member.email}}', '{{member.calendartype}}', '{{member.url}}', '{{member.icon}}')" class="editFamilyMember">Edit</button>
            <form method="POST">
                <input type="hidden" name="formName" value="deleteFamilyMember">
                <button type="submit" name="submit" class="deleteFamilyMember" method="POST"
                    value="{{member.name}}">Remove</button>
            </form>
        </div>

    </div>
    {% endfor %}



    <!--form stuff!!!-->

    <!-- A button to open the popup form -->
    <button id="form-button" onclick="openForm()">
        <p>Add Reef Member</p>
    </button>
    </div>


    <!-- The edit form -->
    <div class="form-popup" id="editForm">
        <form action="" name="editForm" class="form-container" method="POST" id="edit_form" onsubmit="return validateForm('editForm')">
            <h1>Edit Reef Member</h1>
            <input type="hidden" name="formName" value="editFamilyMember">
            <input type="hidden" id = "personName" name="personName" value="">
            <label for="name"><b>Name:</b></label>
            <input id="editName" placeholder="Enter Name" type="text" name="name" required>
            <label for="email"><b>Email:</b></label>
            <input id="editEmail" type="email" placeholder="Enter Email" name="email">
            <label for="link"><b>Calendar Link:</b></label>
            <input id="editUrl" type="text" placeholder="Enter Calendar Link" name="link" onchange="updateRequirements('editUrl', 'editGoogle');">
            <b>Calendar Type:</b>
            <div class="radio-button-container">
                <div class="radio-button-and-label">
                    <input type="radio" id="editGoogle" name="calendartype" value="google">
                    <label for="google">Google</label>
                </div>
                <div class="radio-button-and-label">
                    <input type="radio" id="editApple" name="calendartype" value="apple">
                    <label for="apple">Apple</label>
                </div>
            </div>
            <b>Icon:</b>
            <div class="radio-button-container iconSelect">
                <label>
                    <input type="radio" name="icon" id="graphics/ocean-icons/Slug_1.png" value="graphics/ocean-icons/Slug_1.png" required>
                    <img class='familyMember' src="{{url_for('static', filename='graphics/ocean-icons/Slug_1.png')}}">
                </label>
                <label>
                    <input type="radio" name="icon" id="graphics/ocean-icons/Slug_3.png" value="graphics/ocean-icons/Slug_3.png" required>
                    <img class='familyMember' src="{{url_for('static', filename='graphics/ocean-icons/Slug_3.png')}}">
                </label>
                <label>
                    <input type="radio" name="icon" id="graphics/ocean-icons/Slug_5.png" value="graphics/ocean-icons/Slug_5.png" required>
                    <img class='familyMember' src="{{url_for('static', filename='graphics/ocean-icons/Slug_5.png')}}">
                </label>
                <label>
                    <input type="radio" name="icon" id="graphics/ocean-icons/Slug_6.png" value="graphics/ocean-icons/Slug_6.png" required>
                    <img class='familyMember' src="{{url_for('static', filename='graphics/ocean-icons/Slug_6.png')}}">
                </label>
            </div>
            <br>

            <!--icon choices here, more complicated so I'm doing them last-->
            <div class="form-popup-cancel-and-cofirm">
                <button type="submit" class="btn confirm" type="submit" name="submit" class="btn confirm" method="POST" value="Submit">Confirm</button>
                <button type="button" class="btn cancel" onclick="closeEditForm()">Cancel</button>
            </div>
        </form>
    </div>


    <!-- The add form -->
    <div class="form-popup" id="familyForm">
        <form name="addForm" action="" class="form-container" method="POST" onsubmit="return validateForm('addForm')">
            <h1>Add Reef Member</h1>
            <input type="hidden" name="formName" value="addFamilyMember">
            <label for="name"><b>Name:</b></label>
            <input type="text" placeholder="Enter Name" name="name" required>
            <label for="email"><b>Email:</b></label>
            <input type="email" placeholder="Enter Email" name="email">
            <label for="link"><b>Calendar Link:</b></label>
            <input type="text" id="addUrl" placeholder="Enter Calendar Link" name="link" onchange="updateRequirements('addUrl', 'addGoogle');">
            <b>Calendar Type:</b>
            <div class="radio-button-container">
                <div class="radio-button-and-label">
                    <input type="radio" id="addGoogle" name="calendartype" value="google">
                    <label for="google">Google</label>
                </div>
                <div class="radio-button-and-label">
                    <input type="radio" id="addApple" name="calendartype" value="apple">
                    <label for="apple">Apple</label>
                </div>
            </div>
            <b>Icon:</b>
            <div class="radio-button-container iconSelect">
                <label>
                    <input type="radio" name="icon" value="graphics/ocean-icons/Slug_1.png" required>
                    <img class='familyMember' src="{{url_for('static', filename="graphics/ocean-icons/Slug_1.png")}}">
                </label>
                <label>
                    <input type="radio" name="icon" value="graphics/ocean-icons/Slug_2.png" required>
                    <img class='familyMember' src="{{url_for('static', filename="graphics/ocean-icons/Slug_2.png")}}">
                </label>
                <label>
                    <input type="radio" name="icon" value="graphics/ocean-icons/Slug_3.png" required>
                    <img class='familyMember' src="{{url_for('static', filename="graphics/ocean-icons/Slug_3.png")}}">
                </label>
                <label>
                    <input type="radio" name="icon" value="graphics/ocean-icons/Slug_4.png" required>
                    <img class='familyMember' src="{{url_for('static', filename="graphics/ocean-icons/Slug_4.png")}}">
                </label>
                <label>
                    <input type="radio" name="icon" value="graphics/ocean-icons/Slug_5.png" required>
                    <img class='familyMember' src="{{url_for('static', filename="graphics/ocean-icons/Slug_5.png")}}">
                </label>
                <label>
                    <input type="radio" name="icon" value="graphics/ocean-icons/Slug_6.png" required>
                    <img class='familyMember' src="{{url_for('static', filename="graphics/ocean-icons/Slug_6.png")}}">
                </label>
            </div>
            <br>
            <div class="form-popup-cancel-and-cofirm">
                <button type="submit" class="btn confirm" method="POST">Confirm</button>
                <button type="button" class="btn cancel" onclick="closeForm()">Cancel</button>
            </div>
        </form>



    {% endblock %}